@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
}
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    
}

.items, .cart_amount{
    border: 1px solid black;
    padding: 20px;
    margin: 20px;

}

.cart_heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.cart_heading h1{
    font-weight: 600;
    font-size: 30px;
}

.cart_heading button{
    background-color: rgb(252, 36, 36);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}

.abcd{
    display: flex;
    justify-content: space-between;
}