@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
}
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/* cart */
/* cart */

img {
  width: 100%;
}

.image img{
    /* width: 50%; */
}

.Product .col-md-8 .col-md-6,
.col-md-4 {
  margin-top: 20px;
}

#shoe_details #brand {
  font-weight: 600;
}

.sizes {
  display: flex;
  justify-content: space-between;
}

#size_chrt {
  text-decoration: underline;
  cursor: pointer;
}

#shoe_details h1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
#shoe_details .Shoe_name,
.Shoe_name,
.brand {
  text-decoration: none;
}

.size_btns {
  display: flex;
  justify-content: space-between;
}

.size_btns button {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid black;
}

.size_btns button:hover {
  color: white;
  padding: 10px 20px;
  background-color: black;
  border: 1px solid black;
}

.size_btns button.active {
  color: white;
  padding: 10px 20px;
  background-color: black;
  border: 1px solid black;
}

.cart-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crt_btn {
  width: 100%;
  margin-top: 20px;
  padding: 15px 0px;
  background-color: black;
  color: white;
  border: none;
}

.abt_prdt {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid black;
}

.clps {
  text-decoration: none;
  color: black;
}

.collapse .card {
  border: none;
  text-align: justify;
}

.additional {
  margin-top: 100px;
}

.additional h1 {
  /* font-size: 30px; */
  font-weight: 600;
  margin-bottom: 40px;
}

/* modal */

.modal-body {
  padding: 30px 50px;
}

.modal-body h1 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-body .cntry {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 0px 10px;
  padding-top: 10px;
}

.size_measure {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  padding-top: 10px;
}
.size_measure p {
}

.size_measure_x {
  display: flex;
  justify-content: space-between;
  background-color: rgb(232, 232, 232);
  color: rgb(0, 0, 0);
  padding: 0px 10px;
  padding-top: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.additional {
  margin-bottom: 50px;
}

/* .additional .container {
   border-top: 1px solid black;
   padding-top: 50px;
  } */

.additional .card {
  border: none;
}

.additional h1 {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid black;

}


.additional .card {
  border: none;
  margin-top: 20px;
}

.additional .card:hover {
  /* transform: scale(1.02); */
  box-shadow: 1px 1px 5px #28272785;
}

.additional .card-body {
  background-color: none;
}

.additional #arrows {
  display: flex;
  justify-content: end;
}

.additional .card-body {
  background-color: white;
  padding: 0px;
  padding-top: 10px;
}

.additional .card-title {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.additional .card-text {
  font-size: 15px;
  font-weight: 600;
}

.additional .price {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

.additional h3 {
  color: black;
  font-size: 40px;
  font-weight: 600;
}

.card-title {
  text-decoration: none;
}

a {
  color: unset;
  text-decoration: none;
}
