@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
}
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

/* cart */

svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 20px 20px;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}


/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* cart */


img{
    width: 100%;
}

.Product .col-md-8 .col-md-6, .col-md-4{
    margin-top: 20px;
}

#shoe_details #brand{
    font-weight: 600;
}

.sizes{
    display: flex;
    justify-content: space-between;
}

#size_chrt{
    text-decoration: underline;
    cursor: pointer;
}

#shoe_details h1{
    font-size: 30px;
    font-weight: 600;
letter-spacing: 1px;
}
#shoe_details .Shoe_name, .Shoe_name, .brand{
    text-decoration: none;

}

.size_btns{
    display: flex;
    justify-content: space-between;
}

.size_btns button{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid black;
}

.size_btns button:hover{
    color: white;
    padding: 10px 20px;
    background-color: black;
    border: 1px solid black;
}
.crt_btn{
    width: 100%;
    margin-top: 20px;
    padding: 15px 0px;
    background-color: black;
    color: white;
    border: none;
}

.abt_prdt{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid black;

}

.clps{
    text-decoration: none;
    color: black;
   
}

.collapse .card{
    border: none;
    text-align: justify;
}

.additional{
    margin-top: 100px;
}

.additional h1{
    /* font-size: 30px; */
    font-weight: 600;
    margin-bottom: 40px;
}

/* modal */

.modal-body{
    padding: 30px 50px;
}

.modal-body h1{
    text-align: center;
    margin-bottom: 20px;
}

.modal-body .cntry{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0px 10px;
    padding-top: 10px;


}

.size_measure{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    padding-top: 10px;


}
.size_measure p{

}

.size_measure_x{
    display: flex;
    justify-content: space-between;
    background-color: rgb(232, 232, 232);
    color: rgb(0, 0, 0);
    padding: 0px 10px;
    padding-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
